//-Include the Axis
include ./axis.jade

svg(width=width+padding_r, height=height+padding_b)

  +axis
  +x_axis(x_min, x_maj, rotation)

  each d in data
    circle(cx=x_origin+d.x, cy=y_origin-d.y, r=2, stroke="black", stroke-width="1", fill="red")

  +y_label(y_label_text)
  +x_label(x_label_text)
