html
    head
        link(rel='stylesheet', href='http://sindresorhus.com/github-markdown-css/github-markdown.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css')
        script(src='http://d3js.org/d3.v3.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js')
        script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    body
        article.markdown-body
            != content
